<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567084612708-evutuhvqk3lva9jqjd9cn4hdmtfdgg3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567084612708-evutuhvqk3lva9jqjd9cn4hdmtfdgg3m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567084612708-p49endcuri1muehj3393vml9aabprt5a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6X36SwwNSXXMPbrVVVUIOQfBWxlnW2yw</string>
	<key>GCM_SENDER_ID</key>
	<string>567084612708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.SocialApplication</string>
	<key>PROJECT_ID</key>
	<string>social-app-3a4b1</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-3a4b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567084612708:ios:fa0523bf6a6f2ccae5b371</string>
</dict>
</plist>